<div id="sgMove">
    <div>
        <p>{{sgLang.select_resource_id}}</p>
        <form>
            <input id="sgMoveTo" type="number" min="1">
        </form>
    </div>
    <div style="clear:both;float:right;">
        <div id="sgMoveStart" class="btn btn-right">
            <div class="btn-text">
                <img src="{{modxTheme}}/images/icons/save.png">
                <span>{{sgLang.continue}}</span>
            </div>
        </div>
    </div>
</div>